body{
    background-color: rgb(223, 181, 152);
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.pine-title{
    text-align: center;
}
.pine-title img{
    width: 90px;
    margin: 10px;
    padding-top: 30px;
}
.pine-title h2{
    font-family: ;
    font-size: 3.5vh;
    text-transform: uppercase;
    color: wheat;
    font-weight: 600;
}
.pine{
    color:  rgb(243, 209, 147);
}
.pine:hover{
    color: rgb(241, 202, 128);
}

/** pine-actions **/
.pine-actions{
    text-align: center;
}
.pine-actions input{
    border: none;
    padding: 12px;
    background: #EEE;
    font-size: 16px;
    margin: 12px 0px;
    width: 300px;
    font-weight: 100;
    outline: none;
}
.pine-actions [type="submit"] {
    background: #e49e5d;
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
}
.pine-actions [type="submit"]:hover {
    background: #b67940;
}
.pine-actions span{
    font-size: 1.8vh;
}

::-webkit-input-placeholder {color: rgb(97, 97, 97);}
:-moz-placeholder           {color: rgb(97, 97, 97);}
::-moz-placeholder          {color: rgb(97, 97, 97);}
:-ms-input-placeholder      {color: rgb(97, 97, 97);}

/** footer **/
.footer {
    height: 50px;
    flex-shrink: 0;
    background-color: wheat;
  }
.footer p{
    color: chocolate;
    text-align: center;
    padding: 15px;
}
.footer a{
    color: #b67940;
}
.footer a:hover{
    color: #e7bb91;
}